@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&family=Dancing+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family:Quicksand;
    margin: 0;
    padding: 0;
    background-color: #C0FEFC;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    overflow: hidden;
    background-color:#0F00FF;
    position: fixed;
    width: 100%;
   margin-bottom: auto;
    opacity: 0.9; 
    z-index: 99;
}
.sub{
    display: none;
}
/*nav li:hover.sub{
display: inline-block;
position: absolute;
top: 100%;
left: 20%;
padding:0px;
z-index: 1000;
}*/
.sub li{
    border-bottom: 1px solid #ccc;
    background-color: darkgrey;
    width: 100px;
}
.sub li a{
padding: 5px 15px;
font-size: 15px;
color: grey;
width: 270px;
}
#img img{
   height: 10%;
}
#logo{
    width: 20%;
    height: 100px;
    border-radius: 80px;
    overflow: hidden;
    margin-top: 2px;
    margin-bottom: -30px;
    vertical-align: middle; 
}
#map{
    width: 19%;
    height: 4%;
    margin-left: 54%;
    margin-right: 29px;
    margin-top: -330px;
}
#namedept{
    text-align: left;
    font-family: Quicksand;
    font-size: 2em;
    margin-left: 35px;
    margin-bottom: -15px;
    color: black;
    text-shadow: none;
}

header li {
    float: right;
    font-size: 1em;
}
header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 5px 16px;
    color: cornsilk;
    font-family:Quicksand;
  }
 
#textsec1{
    padding: 0px 25%;
    text-align: center;
    margin-top: 50px;
}
#fotoakey{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(207, 199, 194, 0.7); 
}
h3 {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 1.4em;
    margin: 15px;
    font-weight: bold;
}
#CulG{
    text-align: justify;
    margin: 50px;
}
#titre{
    text-align: justify;
    margin: 50px;
    font-weight: bold;
}
#textsection4{
    flex-direction:column;
   width:50%;
   height: 100%;
   text-align: justify;
   margin-left: 29px;
   margin-top: 50px;
}
#fotoakey:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.6s ease-in-out;
}
#textmap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2.8%
}
#qwerty{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2.8%;
}
#nature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2.8%;
    /*text-align: center;
    font-family: Dancing Script ;*/
}
#istwa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 2.8%;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
h1 {
    font-family:serif;
    text-transform: uppercase;
    text-align: center;
    color:cyan;
    font-size: 5.5em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px black;
  }
  #section1{
      margin-top: 50px;
  }

  h2{
    text-align: center;
    color :#ffeb00;
    margin-top: 50px;
    margin-bottom: -30px;
    font-family:"Dancing Script";
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
    
  }
  #samuel
  {
    text-align: center;
    color :cyan;
    margin-top: 50px;
    margin-bottom: -30px;
    font-family:"Dancing Script";
    font-size: 3em;
    text-shadow: 1px 3px 2px black;
  }
}  
#info{
    text-align: justify;
    color: black;
   font-size: 2px;
    font-family: Quicksand;
}
#info1{
    text-align: left;
    color: black;
   font-size: 12px;
    font-family: Quicksand;
}
#firsttrait h2{
    margin-top: 0;
}

#imagePrincipale {
    padding-top: 100px;
    padding-bottom: -500px;
    background: url(mupanah-museum-national-pantheon-anton-lau_hero.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
#imagenaturel{
    padding-top: 60px;
    background: url( 32\ mod.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}
#imagehistorique{
    padding-top: 60px;
    background: url(sans\ soucis.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

/*#firsttrait{
    height: 1px;
    width: 45%;
    margin: -3px auto;
    background-color: #fffae1;
    box-shadow: 1px 3px 2px black;
}*/
#royal{
    padding-left:100px;
    padding-right: 200px;
}

#artisanat{
  padding-left: 50px;
}

 #list1, #list2{
    display:inline-block;
    justify-content: space-between;
    font-family:sans-serif ;
    list-style-type: none;
    font-size: 1.0rem;
}

#list2{
    margin-left: 100px;
}


 #flore{
    width: 500px;
}

  
  
  .buttons{
    margin-top: 50px;
    display: flex;
    margin-right: 0px;
    margin-top: 10px;
    padding-left: 200px;

  }
  
  
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  
  .copyright{
    display:inline-block;
    font-size: 0.8rem;
    font-weight: 550;
    display: flex;
    justify-content: space-between;
    color: #F6F6F6;
    background-color: #3E64FF;
  
  }
  
  .g-plus,.fb,.tw,.insta {
    text-decoration: none !important;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 25px;
    overflow: hidden;
    position: relative;
  }
   a i {
    position: relative;
    z-index: 3;
  }
   a.fb {
    background-color: #3b5998;
  }
   a.tw {
    background-color: #00aced;
  }
   a.g-plus {
    background-color: #dd4b39;
  }
  
   a.insta {
    background-color: #bc2a8d;
  }
  
  
  #tfoot{
    text-align: center;
    padding: 100 px;
    text-align:left; 
  
  }

  .Name{
      margin-top: 50px;
  }



#separateur{
    height: 1px;
    width: 100%;
    background-color: #FB3569;
    margin-bottom: 0;
    border:none;
    margin:0;
  

}

#foot{
    padding: 10 px;
    width: 500px;
    height: 350px;
    padding: 30px;
}

#main-footer{
    background-color: #3E64FF;
    padding-bottom: 20px;
}

h3.hlist{
  color:#FFFFFF ;
  margin-left: 0;
}

a.option{
  text-decoration: none;
  color: #FFFFFF;
}

#list-logo{
    background-color: #fff;
}

#divide{
    margin: 0;
}

#s


